<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link href="../static/css/home.css" th:href="@{/css/home.css}" rel="stylesheet">
</head>

<body>
<header>
    <nav class="navbar navbar-dark bg-jumpers navbar-expand-lg">
        <a class="navbar-brand" href="#" th:href="@{/}">
            <img src="/imgages/icons/logo.png" th:src="@{/images/icons/logo.png}" width="30" height="30"
                 class="d-inline-block mr-1 align-bottom" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainmenu"
                aria-controls="mainmenu" aria-expanded="false" aria-label="Przełącznik nawigacji">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="mainmenu">
            <div class="navbar-nav ">
                <a class="nav-item nav-link" href="#" th:href="@{/}"> Home </a>
            </div>
            <div class="navbar-nav">
                <div th:if="${sum != 0}">
                    <small>
                        <a class="text-white-50 nav-item nav-link" href="#" th:href="@{/basket}"
                           th:text="|Basket: ${#numbers.formatDecimal(sum, 0, 'COMMA', 2, 'POINT')}zł|"></a>
                    </small>
                </div>
                <a class="navbar-brand" href="#" th:href="@{/basket}">
                    <img src="/imgages/icons/basket.png" th:src="@{/images/icons/basket.png}" width="30" height="30">
                </a>
                <a class="nav-item nav-link" href="#" th:href="@{/my-account}">
                    <b th:inline="text" class="user"> [[${#httpServletRequest.remoteUser}]] </b>
                </a>
                <form action="logmeout" th:action="@{/logmeout}" method="post">
                    <input type="submit" value="Log out"/>
                </form>D
            </div>
        </div>
    </nav>
</header>
<main>
    <div class="d-flex justify-content-center mt-2">
        <div class="row">
            <div th:if="${not #lists.isEmpty(order.books)}">
                <h2>Shopping basket</h2>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Book</th>
                        <th scope="col">price</th>
                        <th scope="col">quantity</th>
                        <th scope="col">value</th>
                    </tr>
                    </thead>
                    <tbody th:remove="all-but-first">
                    <tr scope="row" th:each="book, idx: ${order.books}">
                        <td scope="row" th:text="${idx.index+1}"></td>
                        <td>
                            <div class="book-description">
                                <div>
                                    <a class="font-weight-bold h6" th:text="${book.title}"></a>
                                </div>
                                <div>
                                    <a th:text="'Author: ' + ${book.author}"></a>
                                </div>
                                <div>
                                    <a th:text="'Publisher: ' + ${book.publisher}"></a>
                                </div>
                            </div>
                        </td>
                        <td>
                            <span th:text="${#numbers.formatDecimal(book.price, 0, 'COMMA', 2, 'POINT')}">10.00</span>zł
                        </td>
                        <!--               TODO add quantity-->
                        <td th:text="1"></td>
                        <!--               TODO: after adding quantity refactor-->
                        <td><span th:text="${#numbers.formatDecimal(book.price, 0, 'COMMA', 2, 'POINT') }">10.00</span>zł
                        </td>
                        <td>
                            <form action="#" th:action="@{|basket/orders/${book.id}|}" th:method="get">
                                <button class="btn btn-danger">remove</button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="text-right">
                    <h5 th:text="|Total: ${#numbers.formatDecimal(sum, 0, 'COMMA', 2, 'POINT')}zł|"></h5>
                </div>

                <div class="offset-11">
                    <form action="#" th:action="@{/orders}" method="post">
                        <button class="btn btn-outline-dark">order</button>
                    </form>
                </div>
            </div>
            <div th:if="${#lists.isEmpty(order.books)}">
                <h2>Your basket is Empty</h2>
            </div>
        </div>
    </div>
</main>
<footer class="py-4 mt-2 bg-dark text-white-50">
    <div class="container text-center">
        <small>Copyright &copy; <a class="text-white-50" href="https://github.com/marekhacieja"> Marek Hacieja</a>
        </small>
    </div>
</footer>
</body>
</html>