<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link href="../static/css/home.css" th:href="@{/css/home.css}" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="jumbotron home-jumbo">
        <div class="container text-center text-white jumbo-container">
            <h1 class="display-3">Homepage</h1>
        </div>
    </div>
    <div class="row">
        <p>Logged as, <b th:inline="text" class="user"> [[${#httpServletRequest.remoteUser}]] </b></p>
    </div>
    <div class="row">
        <a href="#" th:href="@{/books}" class="btn btn-primary">All books</a>
    </div>

    <div class="row">
        <div class="col-lg-8 offset-lg-2" th:if="${not #lists.isEmpty(myBooks)}">
            <h2>Your order:</h2>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Author</th>
                    <th scope="col">Type</th>
                    <th scope="col">Publisher</th>
                    <th scope="col">Price</th>
                </tr>
                </thead>
                <tbody th:remove="all-but-first">
                <tr th:each="book: ${myBooks}">
                    <th scope="row" th:text="${book.id}"></th>
                    <td th:text="${book.title}"></td>
                    <td th:text="${book.author}"></td>
                    <td th:text="${book.type}"></td>
                    <td th:text="${book.publisher}"></td>
                    <td th:text="${book.price}"></td>
                    <td>
                        <form action="#" th:action="@{|/deleteBook/${book.id}|}" method="post">
                            <button class="btn btn-warning">remove</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div th:if="${#lists.isEmpty(myBooks)}" class="text-center">
            <h2>Your order is Empty</h2>
        </div>
    </div>
    <div class="text-right">
    <form action="logmeout" th:action="@{/logmeout}" method="post">
        <input type="submit" value="Log me out"/>
    </form>
    </div>
</div>
</body>
</html>