<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Online bookstore</title>
</head>
<body>
	<h1>Bookstore</h1>
	<div class="box">
	<form action="#" method="post" th:action="@{/}" th:object="${client}">
	<p style="color: red;" th:if="${invalidCredentials}" class="error"> Username or Password is wrong</p>
		<p>
			<input type="text" th:field="*{username}" placeholder="Username" />
		</p>
		<p>
			 <input type="password" th:field="*{password}" placeholder="Password"/>
		</p>
		<input type="submit" value="Log in" />
	</form>
	<a th:href="@{/register}">Create new account</a>
	</div>
</body>
</html>