<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Bookstore Registration</title>
</head>
<body>
	<h1>Bookstore registration</h1>

	<div>
		<form action="#" method="post" th:action="@{/register}"
			th:object="${user}">
			<div>
				<p style="color: red;" th:if="${#fields.hasErrors('username')}"
					th:errors="*{username}">username errors</p>
				 <input type="text" id="username" placeholder="Username"
					th:field="*{username}" class="form-control" autofocus />
			</div>
			<div>
				<p style="color: red;" th:if="${#fields.hasErrors('password')}"
					th:errors="*{password}">password errors</p>
				 <input type="password" id="password" placeholder="Password"
					th:field="*{password}" />
			</div>
			<div>
				<p style="color: red;" th:if="${#fields.hasErrors('password')}"
					th:errors="*{password}">password errors</p>
				</br> <input type="password" id="cPassword" placeholder="Password" />
			</div>
			<div>
				<p style="color: red;" th:if="${#fields.hasErrors('email')}"
					th:errors="*{email}">password errors</p>
				</br> <input type="email" id="email" placeholder="E-Mail"
					th:field="*{email}" />
			</div>
			<div>
				<p style="color: red;" th:if="${#fields.hasErrors('firstname')}"
					th:errors="*{firstname}">password errors</p>
				</br> <input type="text" id="firstname" placeholder="First Name"
					th:field="*{firstname}" />
			</div>
			<div>
				<p style="color: red;" th:if="${#fields.hasErrors('lastname')}"
					th:errors="*{lastname}">password errors</p>
				</br> <input type="text" id="lastname" placeholder="Last Name"
					th:field="*{lastname}" />
			</div>
			<div>
				<p style="color: red;" th:if="${#fields.hasErrors('address')}"
					th:errors="*{address}">password errors</p>
				</br> <input type="text" id="address" placeholder="Address"
					th:field="*{address}" />
			</div>
		
			<input type="submit" value="Sign in" /> <a th:href="@{/}">Back</a>

		</form>
	</div>

</body>
</html>